# === Python / MicroPython ===
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# === IDE / Editor ===
.vscode/
.idea/
*.swp
*.swo
*~

# === Projektspezifisch ===
.micropico

# === Entwicklungstools: Unwichtige Dateien ausschliessen ===
Entwicklungstools/Firmware/
*.uf2
